<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhFIekXHpEU7utyxqomOc-GoSDmW1A4Cw</string>
	<key>GCM_SENDER_ID</key>
	<string>379939966281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizapp</string>
	<key>PROJECT_ID</key>
	<string>web-quiz-app-ed588</string>
	<key>STORAGE_BUCKET</key>
	<string>web-quiz-app-ed588.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379939966281:ios:0d6733d1a3c645add49e98</string>
</dict>
</plist>